/*
  --- Generates em sizes by px ---
  $args... - includes count of size with or not with a type of size (example: 16px, 16)
*/

/*
  --- Generates vw sizes by px ---
  $args... - includes count of size with or not with a type of size (example: 16, 1920)
*/

/*
  --- Generates a color by template colors ---
  $name - includes a name for color (example: secondary, theme)
*/

/*
  --- Generates url to local fonts ---
  $fontName - name by font, which uses in property "font-family" (example: 'Arial', 'Roboto')
  $fileName - name by font's file to include in website (example: 'ArialRegular', 'ArialBold')
  $fontWeight - count for font's weight, which uses in property "font-weight" (example: 700, 300, 100)
  $fontStyle - it's a boolean type which includes values "true" or "false" - adds a property "font-style: italic" if it's true
*/

/*
  --- Generates a media queries for your scss styles ---
  $point - including a name for breakpoint (example: tablet, desktop)
  $mode - including mode by breakpoint (example: 'min', 'max')
*/

/*
  --- Generates properties for ellipses by a long texts ---
*/

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/Oswald/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald/Oswald-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Raleway/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  line-height: 0;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

a:hover {
  opacity: 0.6;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

input {
  outline: unset;
  border: unset;
}

input::-webkit-input-placeholder {
  opacity: 0.6;
}

input::-moz-placeholder {
  opacity: 0.6;
}

input:-ms-input-placeholder {
  opacity: 0.6;
}

input::-ms-input-placeholder {
  opacity: 0.6;
}

input::placeholder {
  opacity: 0.6;
}

footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

body {
  background-color: #fafafa;
  font: 16px/1.2 "Roboto", "Arial", sans-serif;
}

.header--is-absoluted {
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.landing-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.u-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 0.9375em;
  padding-left: 0.9375em;
  width: 100%;
  max-width: 91em;
  margin-right: auto;
  margin-left: auto;
}

.u-wrapper--is-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.logo__pic {
  max-width: 13.125em;
}

.nav-list__item:not(:last-child) {
  margin-right: 1.875em;
}

.nav-list-link {
  padding: 0.9375em;
}

.nav-list-link__text {
  color: white;
}

.title {
  text-transform: uppercase;
}

.title__text {
  font-family: 'Oswald', 'Roboto', sans-serif;
  font-size: 5.3125em;
  color: #070750;
}

.title__text--is-colored {
  color: #82b7e3;
}

.link--is-button {
  display: inline-block;
  padding: 1.5625em;
  border-radius: 0.625em;
  background-color: #82b7e3;
  text-align: center;
  text-transform: uppercase;
}

.link--is-button .link__text {
  color: white;
}

.button {
  padding: 1.5625em;
  border-radius: 0.625em;
  background-color: #82b7e3;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.button__text {
  color: white;
}

.button:hover {
  opacity: 0.6;
}

.info__text {
  color: #070750;
}

.socials__item:not(:last-child) {
  margin-right: 0.9375em;
}

.socials-link__pic {
  max-width: 1.875em;
}

.header {
  padding-top: 3.3125em;
  padding-bottom: 3.3125em;
}

.main__banner {
  min-height: 56.25em;
}

.banner {
  padding-top: 16.875em;
  padding-bottom: 5.625em;
  background-image: url("./img/bg.jpg");
}

.banner__wrapper {
  position: relative;
}

.banner__col:nth-child(2) {
  position: absolute;
  right: 3.4375em;
  bottom: 0;
}

.banner__socials {
  position: absolute;
  right: 0;
}

.banner__title {
  width: 100%;
  max-width: 35.625em;
}

.banner__link {
  width: 100%;
  max-width: 18.75em;
  margin-top: 5.3125em;
}

.banner__pic {
  max-width: 53.875em;
}

.banner__title .title__text {
  color: white;
}

.banner .socials {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.banner .socials__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 1.25em;
}

.proposals {
  padding-top: 14.0625em;
  padding-bottom: 14.0625em;
}

.proposals__wrapper {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.proposals__list {
  margin-top: 8.125em;
}

.proposals__title {
  text-align: left;
}

.proposals__title .title__text {
  font-family: 'Oswald', 'Roboto', sans-serif;
}

.proposals .list {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.proposals .list__item {
  width: 100%;
  max-width: 28.125em;
}

.proposals .list__item:not(:nth-last-child(1)),
.proposals .list__item:not(:nth-last-child(2)),
.proposals .list__item:not(:nth-last-child(3)) {
  margin-bottom: 1.875em;
}

.proposals .list__item:not(:nth-child(3n)) {
  margin-right: 1.875em;
}

.proposals .list__proposal {
  width: 100%;
}

.proposal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1.5625em;
  padding-bottom: 1.5625em;
  border: 1px solid #deecfc;
  border-radius: 0.625em;
  background-color: white;
}

.proposal__title {
  max-width: 10em;
  margin-left: 4.375em;
}

.proposal__icon {
  margin-left: 1.875em;
}

.proposal__title .title__text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.375em;
}

.proposal-icon {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 7.5em;
  height: 7.5em;
}

.projects__wrapper {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.projects__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 3.75em;
}

.projects .list__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 6.875em;
}

.project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project--is-even {
  position: relative;
  min-height: 60em;
}

.project--is-even .project__pic {
  border-radius: 0.625em;
}

.project--is-even .project__col:nth-child(1) {
  position: relative;
  z-index: 1;
  padding: 6.875em 5.3125em;
  margin-left: auto;
  border-radius: 0.625em;
  background-color: #e6e6ed;
}

.project--is-odd-thd .project__pic {
  border-radius: 0.625em;
}

.project--is-odd-thd .project__col:nth-child(1) {
  max-width: 22.5em;
}

.project--is-odd-thd .project__col:nth-child(2) {
  margin-left: 5.625em;
}

.project__col {
  -webkit-flex-basis: 50.625em;
  -ms-flex-preferred-size: 50.625em;
  flex-basis: 50.625em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.project__col--is-info {
  -webkit-flex-basis: 34.0625em;
  -ms-flex-preferred-size: 34.0625em;
  flex-basis: 34.0625em;
}

.project__col--is-even,
.project__col--is-odd-thd {
  -webkit-flex-basis: 60em;
  -ms-flex-preferred-size: 60em;
  flex-basis: 60em;
}

.project__col--is-even {
  position: absolute;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.project__col--is-even .project__pic {
  max-width: 60em;
}

.project__link {
  width: 100%;
  max-width: 18.75em;
  margin-top: 3.125em;
}

.project__info {
  width: 100%;
  margin-top: 3.125em;
}

.project__strip {
  position: relative;
  margin-top: 9.0625em;
}

.project .title {
  text-transform: none;
}

.project .title__text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.625em;
  font-weight: 700;
}

.project .title__text--is-colored {
  color: #070750;
}

.strip__link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
}

.strip-link__arrow {
  display: inline-block;
  border-top: 3.3125em solid transparent;
  border-bottom: 3.3125em solid transparent;
  border-left: 5em solid white;
}

.footer__pic {
  max-width: 104.0625em;
}

.footer__upper {
  padding-top: 6.5625em;
  padding-bottom: 6.5625em;
}

.footer__central {
  padding-top: 2.1875em;
  padding-bottom: 2.1875em;
  border-top: 1px solid #1d1d3a;
}

.footer .footer__central .u-wrapper--is-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer__upper,
.footer__central {
  background-color: #020222;
}

.footer__lower {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background-color: #01010e;
}

.footer__callform {
  width: 100%;
  margin-top: 5.3125em;
}

.callform {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.callform__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.callform__col:not(:last-child) {
  margin-bottom: 1.875em;
}

.callform__field {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 28.125em;
}

.callform__field:not(:nth-child(3n)) {
  margin-right: 1.875em;
}

.callform__button {
  width: 100%;
  max-width: 13.125em;
  margin-left: auto;
}

.callform .button {
  text-transform: none;
}

.callform .button__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.callform-field {
  border: unset;
}

.callform-field__input {
  padding: 0.9375em 1.875em;
  width: 100%;
  border-radius: 0.625em;
  background-color: #01285b;
  color: white;
}

.callform-field__input::-webkit-input-placeholder {
  opacity: 1;
  color: white;
}

.callform-field__input::-moz-placeholder {
  opacity: 1;
  color: white;
}

.callform-field__input:-ms-input-placeholder {
  opacity: 1;
  color: white;
}

.callform-field__input::-ms-input-placeholder {
  opacity: 1;
  color: white;
}

.callform-field__input::placeholder {
  opacity: 1;
  color: white;
}

.callform-field__textarea {
  padding: 1.5625em 3.75em;
  width: 100%;
  height: 10.625em;
  margin-top: 1.875em;
  overflow: auto;
  resize: none;
  border-radius: 0.625em;
  background-image: url("./img/footer/ball.png");
  background-position: calc(100% - 1.5625em) 1.5625em;
  background-repeat: no-repeat;
  background-size: 2.4375em 2.4375em;
}

.callform-field--is-textarea {
  max-width: 100%;
}

.callform-field--is-checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.callform-field--is-checkbox .callform-field__input {
  display: none;
}

.callform-field--is-checkbox .callform-field__input:checked + .callform-field__checkbox:before {
  content: '\2713';
  position: absolute;
  top: 0;
  left: 50%;
  color: white;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.callform-field--is-checkbox .callform-field__checkbox {
  position: relative;
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #134da0;
  background-color: #01285b;
}

.callform-field--is-checkbox .callform-field__agree {
  display: inline-block;
  margin-left: 1.25em;
}

.callform-field-agree__text {
  font-family: 'Raleway', 'Roboto', sans-serif;
  color: white;
}

.copyright__text {
  color: #999999;
}

.footer-menu__item:not(:last-child) {
  position: relative;
  margin-right: 1.5625em;
}

.footer-menu__item:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -0.8125em;
  width: 1px;
  height: 0.8125em;
  background-color: #999999;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer-menu-link__text {
  color: #999999;
}

@media (max-width: 1919px) {
  .header,
  .main,
  .footer {
    font-size: 0.83333vw;
  }
}

@media (max-width: 1023px) {
  .header,
  .main,
  .footer {
    font-size: 1.04167vw;
  }

  .logo__pic {
    max-width: 7.5em;
  }

  .header {
    padding-top: 1.5625em;
    padding-bottom: 1.5625em;
  }

  .main__banner {
    min-height: 30em;
  }

  .footer__pic {
    max-width: 62.5em;
  }
}

@media (max-width: 767px) {
  .header,
  .main,
  .footer {
    font-size: 3.29861vw;
  }

  .nav__list {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    -webkit-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
  }

  .nav-burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-burger__line {
    display: inline-block;
    width: 1.875em;
    height: 0.125em;
    background-color: white;
  }

  .nav-burger__line:not(:first-child) {
    margin-top: 0.3125em;
  }

  .nav-list {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #82b7e3;
  }

  .nav-list__link {
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  .nav-list__link:hover {
    background-color: #93c4ec;
  }

  .nav-list__item:not(:last-child) {
    margin-right: 0;
  }

  .nav-list-link {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 0.3125em;
  }

  .nav-list-link__text {
    font-size: 0.75em;
  }

  .banner {
    padding-top: 9.0625em;
    padding-bottom: 2.8125em;
  }

  .banner__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .banner__col:nth-child(1) {
    margin-top: 1.875em;
    text-align: center;
  }

  .banner__col:nth-child(2) {
    position: static;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .banner__socials {
    position: static;
    margin-top: 1.875em;
  }

  .banner__link {
    max-width: 11.875em;
    margin-top: 1.875em;
  }

  .banner__pic {
    max-width: 16.84211em;
  }

  .banner__title .title__text {
    font-size: 2.25em;
  }

  .banner .socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-self: inherit;
    -ms-flex-item-align: inherit;
    align-self: inherit;
  }

  .banner .socials__item:not(:last-child) {
    margin-right: 0.9375em;
    margin-bottom: 0;
  }

  .banner .link__text {
    font-size: 0.75em;
  }

  .banner .link--is-button {
    padding: 0.5em;
  }

  .proposals {
    padding-top: 1.875em;
    padding-bottom: 0;
  }

  .proposals__list {
    margin-top: 1.875em;
  }

  .proposals__title .title__text {
    font-size: 1.875em;
  }

  .proposals .list__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .proposals .list__item:not(:last-child) {
    margin-bottom: 0.625em;
  }

  .proposal__title {
    margin-left: 1.875em;
  }

  .proposal__icon {
    margin-left: 0.9375em;
  }

  .proposal__title .title__text {
    font-size: 1.125em;
  }

  .proposal-icon {
    width: 2.8125em;
    height: 2.8125em;
  }

  .projects__title .title__text {
    font-size: 1.875em;
  }

  .projects .list__item:not(:last-child) {
    margin-bottom: 1.875em;
  }

  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .project--is-even {
    min-height: 100%;
  }

  .project--is-even .project__col:nth-child(1) {
    background-color: unset;
    padding: 0;
    margin-left: 0;
  }

  .project--is-odd-thd {
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .project--is-odd-thd .project__col:nth-child(1) {
    max-width: 100%;
  }

  .project--is-odd-thd .project__col:nth-child(2) {
    margin-left: 0;
  }

  .project__pic {
    max-height: 20em;
  }

  .project__img {
    -o-object-position: center;
    object-position: center;
  }

  .project__col--is-info {
    margin-top: 1.875em;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .project__col:nth-child(2) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .project__col--is-even,
  .project__col--is-odd-thd {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .project__col--is-even {
    position: static;
  }

  .project__link {
    padding: 0.5em;
    margin-top: 0.9375em;
  }

  .project__info {
    margin-top: 0.9375em;
  }

  .project__strip {
    margin-top: 1.875em;
  }

  .project .link__text {
    font-size: 0.75em;
  }

  .strip-link {
    font-size: 2.1875vw;
  }

  .footer .u-wrapper--is-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__upper {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
  }

  .footer__central {
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
  }

  .footer__menu {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 0.9375em;
  }

  .footer__callform {
    margin-top: 1.875em;
  }

  .footer__title .title__text {
    font-size: 1.875em;
  }

  .callform__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .callform__col:not(:last-child) {
    margin-bottom: 0.9375em;
  }

  .callform__field:not(:last-child) {
    margin-bottom: 0.9375em;
  }

  .callform__field:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .callform__button {
    margin-right: auto;
    margin-left: auto;
  }

  .callform .button {
    padding: 0.9375em;
  }

  .callform-field__textarea {
    padding: 0.625em 0.625em 2.5em;
    margin-top: 0;
    background-position: 100% 100%;
  }

  .callform-field-agree__text {
    font-size: 0.875em;
  }

  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .footer-menu__item:not(:last-child)::after {
    top: 100%;
    right: 0;
    width: 100%;
    height: 1px;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
  }
}

@media (max-width: 575px) {
  .header,
  .main,
  .footer {
    font-size: 3.75vw;
  }

  .banner__pic {
    max-width: 23.33333em;
  }
}
/*# sourceMappingURL=styles.css.map */
